<div class="flexOuterStart" id="navOpen">
  <div class="iconShell" id="menuIcon">
    <div class="menuIconBar"></div>
    <div class="menuIconBar"></div>
    <div class="menuIconBar"></div>
  </div>
</div>

<div class="flexOuterCenter" id="nav">
  <div class="navButt"><%= link_to 'this', root_path %></div>
  <div class="navButt"><%= link_to 'thesis', new_article_path %></div>
  <div class="navButt">phthsis</div>
  <div class="navButt">antithesis</div>
  <div class="navButt"><%= link_to 'pith', controller: 'articles' %></div>
</div>

<div class="flexOuterCenter" id="headerBackground">
  <div id="headerIndex" class="smuckerzd">
    <div class="flexOuterCenter">
      <div><</div><div>all/</div><div>></div>
    </div>
  </div>
</div>
<div class="customHR"></div>

<div class="totalWrapper">
  <div class="flexOuterEnd">
    <div class="navButt" id="submit">
      <%= link_to '<submit/>', new_article_path %>
    </div>
  </div>
  <div class="flexOuterCenter">
    <h1 id="deadHeader">
      <div class="peaProtein">
        <div class="flexOuterCenter">
          <div class="padLeft"><</div>dead<div>></div>
        </div>
        <div><!--meta-content?--></div>
        <div class="flexOuterCenter">
          <div class="padLeft"><</div>/dead<div>></div>
        </div>
      </div>
    </h1>
  </div>

<div class="flexOuterCenter">
  <table class="slideTable">
    <tr>
      <th>
        <div class="flexOuterCenter">
          <div><</div><div>title/</div><div>></div>
        </div>
      </th>
      <th>
        <div class="flexOuterCenter">
          <div><</div><div>text/</div><div>></div>
        </div>
      </th>
      <th></th>
    </tr>
    <% @articles.each do |article| %>
      <tr>
        <td><%= article.title %></td>
        <td><%= article.text %></td>
        <td>
          <div class="navButtJr">
            <%= link_to 'README', article_path(article) %>
          </div>
        </td>
      </tr>
    <% end %>
  </table>
</div>
</div>
